/* Fuentes y Modelos*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Open+Sans:ital,wght@1,500&family=Playfair+Display:ital,wght@1,500&display=swap');

/*font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;*/
/*Fin Fuentes y Modelos*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white; /* Color de texto blanco */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* COMIENZO HEADER */
}
header {
    background-color: black;
    height: 150px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
    font-family:'Kanit', sans-serif;
    color: white;
}

.logo-container {
    width: 200px; /* Ancho del contenedor del logo */
    height: 200px; /* Altura del contenedor del logo */
    margin-right: 10px;
    margin-left: 300px;
    margin-top: 40px;
}

.logo {
    float: left;
    width: 100%; /* Ancho del logo para que se ajuste al contenedor */
    height: 100%; /* Altura del logo para que se ajuste al contenedor */
    border-radius: 50%; /* Hacer el logo redondo */
    object-fit: cover; /* Ajustar el tamaño del logo sin deformar */
}
.barra{
    float: right;
    }


    /*titulo*/
h1 {
    font-family:'Kanit', sans-serif ;
    margin: 0; /* Eliminar el margen predeterminado del título */
    margin-left: 10px; /* Espacio entre el logo y el título */
    margin-top: 30px;

}
.barra ul li{
    list-style: none;
    display: inline-block;
}

.barra a{
    color: white;
    text-decoration: none;
}
.barra a:hover{
    color:rgb(9, 188, 229) ;
}

/* FINAL HEADER */

/* formato subtitulos */
.titulo2{
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    text-align: center;
}
/* contenidos */
.content{
    display: flex;
    align-items: end;
    justify-content: center;
    height:  100%;
    align-items: center;
    margin-left:50px;
    padding: 5px;
    text-align: center;
    display: flex;
    color: white;
    width:50%;

}
/*foto mia*/
.perfil{
    border-radius: 50%;
    }
    /*parrafo yo*/
.yo {
    font-family: 'Playfair Display', serif;
}
/* autovideo index */
.video
{
    width: 300px;
    height: 300px;
}

.elemento {
    flex: 1 0 auto;
    margin: 0 30px;
    width: 200px;
    height: 200px;
}
/* fromato de redes */
.redes{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    margin: 10px;
    color: white;
    justify-content: center;
    
}
.content2{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: baseline;
    
}
.Contactodirecto{
    display: block;
    
}
.respuesta{
    width: auto;
    height: auto;

}
/*footer*/
.terminos{
font-family:'Open Sans', sans-serif;
font-size: 9px;
color: rgb(14, 105, 180);

}
/*conctacto bootstrap*/
.card-body{
    background-image: url(../assets/img/fondo2.jpg);
    background-size: cover;
    
}
.card-text{
    font-family:'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    
}
.card-title{
    font-family: 'Playfair Display', serif;
    color: rgb(253, 253, 253);
}
.text-muted {
    color: rgb(255, 255, 255);
}
.respuestas{
    background-color: transparent;
}

.btn{
    background-color: transparent;
    border:none
}
/* imagen interrogacion */
.interrogacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin: 0;;
    margin-top: 50px;
}


/*valoracion final*/
.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}


.valoracion label {
    float: right;
    color: #c1b8b8;
    font-size: 30px; 
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
    color: #ffff00;
}
/* todos los parrafos */
.parrafos-contexto{
    display: block;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 15px;
    justify-content: center;
    

}
/* valor consulta */
.display-3 {
    text-align: center;
    margin-top: 50px; 
}

.display-3 {
    color: #ffffff;
    font-size: 30px;
    font-family:'Kanit', sans-serif ;
}

.display-3 {
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-top: 20px; 
}